TOKEN = 
MONGO_URI=m
PORT=3000
NODE_ENV=development
GUILD_ID=1218982026330243143

ORIGIN_URLS=http://localhost:3000

CLIENT_SECRET=xxx-xxx
CLIENT_ID=940959997406380102
REDIRECT_URI=http://localhost:2000


JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
JWT_SECRET='oongaboonda'